.shop-page {
    padding-top: 60px;
}
.shop-page h2 {
    letter-spacing: 0.06em;
    color: #1E212C;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    padding-bottom: 32px;
}
section#ShopPages-view {
    background: #fff !important;
    padding-top: 0;
}
section#ShopPages-view .row{
    row-gap: 20px;
}
@media (max-width: 768.9px) {
    #shoppage-width .row{
        display: flex;
    }
    #shoppage-width .row .col-lg-4.col-md-6{
        width: 50%;
    }
    #shoppage-width .row .collection-One .collection-box .collectionInner .product-content .product-price{
        flex-direction: column;
        gap: 2px;
    }
    #shoppage-width .row .cart-buy-btn .btn {
        width: 100px;
    }
    #shoppage-width .collectionInner .product-content .product-price{
        flex-direction: column;
        gap: 0;
    }
}
@media (max-width: 575.9px) {
    .shop-page h2 {
        font-size: 30px;
    }
}