@media (max-width: 991px) {


    footer .right-side h3 {
        font-size: 25px;
        line-height: normal;
    }

    footer .footer-bottom p {
        margin-bottom: 10px;
    }

    footer .footer-bottom p:last-child {
        margin-bottom: 0px;
    }
}
/*  */
@media (min-width: 992px) and (max-width: 1499px) {
    header .col-12.col-lg-3.col-md-12.order-1 {
        width: 100%;
    }

    header .col-12.col-lg-3.col-md-12.order-1 .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    header .site-nav ul {
        display: flex;
        justify-content: start;
        gap: 40px;
    }

    .col-12.col-lg-3.col-md-12.order-2.order-lg-3 {
        max-width: 50%;
        width: 50%;
    }
}
@media (max-width:991.9px) {

    footer .right-side h3 {
        font-size: 25px;
        line-height: normal;
    }

    footer .footer-bottom p {
        margin-bottom: 10px;
    }

    footer .footer-bottom p:last-child {
        margin-bottom: 0px;
    }
}
@media (max-width: 768.9px) {

        header .site-icon ul {
            gap: 18px;
            justify-content: flex-end;
            margin-right: 8px;
        }
    
        .header-topText {
            font-size: 25px;
            line-height: normal;
        }
    
        .header-btnText {
            font-size: 15px;
            line-height: normal;
        }
    
        .header-btnText br {
            display: none;
        }
    header .site-icon ul {
        gap: 18px;
        justify-content: flex-end;
        margin-right: 8px;
    }

    .header-topText {
        font-size: 25px;
        line-height: normal;
    }

    .header-btnText {
        font-size: 15px;
        line-height: normal;
    }

    .header-btnText br {
        display: none;
    }
    footer .footer-nav ul {
        gap: 25px;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (max-width: 575px) {
    header .logo {
        margin-bottom: 20px;
    }

    header .logo img {
        width: 150px;
        height: auto;
        object-fit: contain;

    }
}