
@media (max-width: 1199.9px) {
    .cloth-details .right-content .price-box {
        gap: 10px;
        flex-direction: column;
    }
    .cloth-details .left-content .cloth-thumbnail-img {
        width: 60px;
        height: 60px;
    }
    .cloth-details .right-content .size-box .size-box-sizes {
        gap: 9px;
    }
    .cloth-details .right-content .size-box .size-box-sizes li a {
        width: 45px;
        font-size: 13px;
        line-height: 120%;
    }
    .cloth-details .right-content .cart-buy-btn a.btn {
        width: 180px;
    }
}
@media (max-width: 991.9px) {
    .cloth-details .right-content h4 {
        font-size: 25px;
        line-height: normal;
    }

    .cloth-details .left-content .thumbnail-images{
    gap: 10px;
}
.cloth-details .right-content .cart-buy-btn a.btn {
    width: 150px;
}

}
@media (max-width: 768.9px) {
    .product-details-page {
        padding-top: 30px;
    }

    .product-details-page h2 {
        font-size: 36px;
        line-height: normal;
    }

    .cloth-details .left-content .thumbnail-images {
        display: block;
    }

    .cloth-details .left-content .cloth-thumbnail-img {
        width: 80px;
        height: 80px;
    }

    .cloth-details .right-content {
        padding-top: 30px;
    }
    .cloth-details .right-content .cart-buy-btn a.btn {
        width: 180px;
    }


    .cloth-details .right-content .product-buy {
        padding-bottom: 0px;
    }
}
@media (max-width:575.9px) {
    .cloth-details .right-content .product-buy .heart svg{
        width: 40px;
    }
    .cloth-details .right-content .cart-buy-btn a.btn {
        width: 150px;
    }
    .cloth-details .right-content .product-buy {
        justify-content: start;
         
    }
    .cloth-details .left-content .cloth-thumbnail-img {
        width: 75px;
        height: 75px;
    }

}
@media (max-width: 400.9px) {
    .cloth-details .left-content .cloth-thumbnail-img {
        width: 60px;
        height: 60px;
    }
    .cloth-details .right-content .cart-buy-btn a.btn {
        font-size: 12px;
        width: 130px;
    }
    .cloth-details .right-content .product-buy {
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .cloth-details .right-content .cart-buy-btn {
        gap: 15px;
    }
}