@media (min-width: 991.9px) {
    .about .custom-container {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/*  */
@media (min-width: 992px) and (max-width: 1499px) {
    header .col-12.col-lg-3.col-md-12.order-1 {
        width: 100%;
    }

    header .col-12.col-lg-3.col-md-12.order-1 .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    header .site-nav ul {
        display: flex;
        justify-content: start;
        gap: 40px;
    }

    .col-12.col-lg-3.col-md-12.order-2.order-lg-3 {
        max-width: 50%;
        width: 50%;
    }
}

/* sale box */

@media (max-width: 1499px) {
    .sale-box-wrapper .product-feature .container {
        /* overflow: hidden; */
        position: relative;
    }

    .sale-box-wrapper .product-feature ul {
        display: flex;
        gap: 2rem;
        width: max-content;
        animation: scroll-horizontal 20s linear infinite;
        white-space: nowrap;
        padding: 1rem 0;
        margin: 0;
    }

    .sale-box-wrapper .product-feature ul li {
        list-style: none;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        flex: 0 0 auto;
    }

    .collection-One .collection-box .collectionInner .cart-buy-btn a.btn {
        width: 120px;
    }

    @keyframes scroll-horizontal {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}

@media (max-width: 1199px) {
    .banner .left-image img {
        height: auto;
        min-height: auto;
        max-height: auto;
        width: auto;
        object-fit: contain;
    }

    .banner .right-content h1 {
        font-size: 55px;
        line-height: normal;
    }

    .collection-One .collection-box .collectionInner .cart-buy-btn a.btn {
        width: 100px;
    }

    .collection-One .collection-box .collectionInner .product-content h3 {
        font-size: 14px;
        line-height: normal;
    }

    .collection-One .collection-box .collectionInner .product-content .product-price .offer-price {
        font-size: 14px;
        line-height: normal;
    }

    .about .custom-container {
        max-width: 100% !important;
    }

    .about .left-image {
        height: 100%;
    }

    .sale-box-wrapper .sale-box .wrapper {
        gap: 5px;
    }

    .about .row {
        margin-right: 0px !important;
    }

}

@media (max-width: 1024px) {

    .collection-One .collection-box .collectionInner {
        margin-bottom: 10px;
    }

    .collection-One .collection-box .row>.col-lg-4:nth-child(3) .collectionInner,
    .collection-One .collection-box .row>.col-lg-4:nth-child(6) .collectionInner {
        margin-bottom: 0;
    }

    .about .right-content {
        padding: 59px 25px;
    }

    .about .left-image {
        display: none;
    }

    .about .about-sm {
        display: block;
    }

    .about .about-desk {
        display: none;
    }

    .collection-One .more-products.collection-box {
        padding-top: 6px;
    }

    .collection-One .collection-box {
        padding-left: 0;
        padding-right: 0;
        /* Hide scrollbar */
        /* Prevent wrapping */
    }

    .collection-One .collection-box .mobile-carousel-wrapper {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 16px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .collection-One .collection-box .mobile-carousel-wrapper>div {
        flex: 0 0 50%;
        scroll-snap-align: center;
    }

    .collection-One .collection-box .mobile-carousel-wrapper::-webkit-scrollbar {
        display: none;
    }

    .collection-One .collection-box .collection-box>.row {
        flex-wrap: nowrap;
    }

    .collection-One .collection-box .collection-box>.row,
    .collection-One .collection-box .more-products .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-left: 0;
        margin-right: 0;
        gap: 16px;
    }

    .collection-One .collection-box .collection-box>.row::-webkit-scrollbar,
    .collection-One .collection-box .more-products .row::-webkit-scrollbar {
        display: none;
    }

    .collection-One .collection-box .collection-box>.row>.col-md-6,
    .collection-One .collection-box .collection-box>.row>.col-lg-4,
    .collection-One .collection-box .more-products .row>.col-md-6,
    .collection-One .collection-box .more-products .row>.col-lg-4 {
        /* flex: 0 0 50%; */
        flex: 0 0 60%;
        max-width: 50%;
        scroll-snap-align: start;
        padding: 0px;
    }

    .collection-One .collection-box .collection-box>.row,
    .collection-One .collection-box .more-products .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-left: 0;
        margin-right: 0;
        gap: 16px;
    }

    /* shorts */
    .collection-One .more-shorts.collection-box {
        padding-top: 6px;
    }

    .collection-One .collection-box.collection-boxTwo .mobile-carousel-wrappertwo {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 16px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .collection-One .collection-box.collection-boxTwo .mobile-carousel-wrappertwo>div {
        flex: 0 0 50%;
        scroll-snap-align: center;
    }

    .collection-One .collection-box.collection-boxTwo .mobile-carousel-wrappertwo::-webkit-scrollbar {
        display: none;
    }

    .collection-One .collection-box .collection-box.collection-boxTwo>.row {
        flex-wrap: nowrap;
    }

    .collection-One .collection-box .collection-box.collection-boxTwo>.row,
    .collection-One .collection-box .more-shorts .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-left: 0;
        margin-right: 0;
        gap: 16px;
    }

    .collection-One .collection-box .collection-box.collection-boxTwo>.row::-webkit-scrollbar,
    .collection-One .collection-box .more-shorts .row::-webkit-scrollbar {
        display: none;
    }

    .collection-One .collection-box .collection-box.collection-boxTwo>.row>.col-md-6,
    .collection-One .collection-box .collection-box.collection-boxTwo>.row>.col-lg-4,
    .collection-One .collection-box .more-shorts .row>.col-md-6,
    .collection-One .collection-box .more-shorts .row>.col-lg-4 {
        /* flex: 0 0 50%; */
        flex: 0 0 60%;
        max-width: 50%;
        scroll-snap-align: start;
        padding: 0px;
    }

    .collection-One .collection-box .collection-box.collection-boxTwo>.row,
    .collection-One .collection-box .more-shorts .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-left: 0;
        margin-right: 0;
        gap: 16px;
    }

    /* shorts end */
    /* new more*/
    .collection-One .more-new.collection-box {
        padding-top: 6px;
    }

    .collection-One .collection-box.collection-boxThree .mobile-carousel-wrapperthree {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 16px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .collection-One .collection-box.collection-boxThree .mobile-carousel-wrapperthree>div {
        flex: 0 0 50%;
        scroll-snap-align: center;
    }

    .collection-One .collection-box.collection-boxThree .mobile-carousel-wrapperthree::-webkit-scrollbar {
        display: none;
    }

    .collection-One .collection-box .collection-box.collection-boxThree>.row {
        flex-wrap: nowrap;
    }

    .collection-One .collection-box .collection-box.collection-boxThree>.row,
    .collection-One .collection-box .more-new .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-left: 0;
        margin-right: 0;
        gap: 16px;
    }

    .collection-One .collection-box .collection-box.collection-boxThree>.row::-webkit-scrollbar,
    .collection-One .collection-box .more-new .row::-webkit-scrollbar {
        display: none;
    }

    .collection-One .collection-box .collection-box.collection-boxThree>.row>.col-md-6,
    .collection-One .collection-box .collection-box.collection-boxThree>.row>.col-lg-4,
    .collection-One .collection-box .more-new .row>.col-md-6,
    .collection-One .collection-box .more-new .row>.col-lg-4 {
        /* flex: 0 0 50%; */
        flex: 0 0 60%;
        max-width: 50%;
        scroll-snap-align: start;
        padding: 0px;
    }

    .collection-One .collection-box .collection-box.collection-boxThree>.row,
    .collection-One .collection-box .more-new .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-left: 0;
        margin-right: 0;
        gap: 16px;
    }

    /* more new end */
}

@media (max-width: 991.9px) {

    /* banner */
    .banner .col-lg-6.col-12:nth-of-type(1) {
        order: 2;
    }

    .banner .left-image {
        text-align: center;
    }

    .banner .left-image img {
        height: auto;
        min-height: auto;
        margin-top: 50px;
    }

    /* simple-background-quote */
    .simple-background-quote {
        background-position: right;
    }

    footer .right-side h3 {
        font-size: 25px;
        line-height: normal;
    }

    footer .footer-bottom p {
        margin-bottom: 10px;
    }

    footer .footer-bottom p:last-child {
        margin-bottom: 0px;
    }

    .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    div#searchBoxWrapper {
        display: block !important;
    }
}

@media (max-width: 768.9px) {


    header .site-icon ul {
        gap: 18px;
        justify-content: flex-end;
        margin-right: 8px;
    }

    .header-topText {
        font-size: 25px;
        line-height: normal;
    }

    .header-btnText {
        font-size: 15px;
        line-height: normal;
    }

    .header-btnText br {
        display: none;
    }

    .collection-One .collection-box .collectionInner .product-content .product-price {
        padding-bottom: 15px;
    }




    .collection-One .collection-box .collectionInner .cart-buy-btn {
        gap: 10px;
    }



    footer .footer-nav ul {
        gap: 25px;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (max-width: 575px) {
    header .logo {
        margin-bottom: 20px;
    }

    header .logo img {
        width: 150px;
        height: auto;
        object-fit: contain;

    }

    .banner .right-content h1 {
        font-size: 45px;
        line-height: normal;
        padding-bottom: 30px;
    }

    .sale-box-wrapper .product-feature ul li {
        flex: initial;
        padding-right: 31px;
    }

    .collection-One .collection-box .mobile-carousel-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .collection-One .collection-box.collection-boxTwo .mobile-carousel-wrappertwo {
        padding-left: 15px;
        padding-right: 15px;
    }

    .collection-One .collection-box.collection-boxThree .mobile-carousel-wrapperthree {
        padding-left: 15px;
        padding-right: 15px;
    }


}