

.header-topText {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    padding-bottom: 19px;
}

.header-btnText {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    text-transform: capitalize;
}
